@model WorkWeekCreateVM
@{
    ViewBag.Title = "AddWorkWeek";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<h1>Create schedule</h1>


<div class="container">

    <form method="post" asp-action="AddWorkWeek">
        <div class="col-sm-6" style="height:auto;">
            <div class="form-group">

                <label asp-for="@Model.WorkStart">Work starts</label>
                <div class='input-group date' id='datetimepicker11'>
                    <input type='text' asp-for="@Model.WorkStart" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" asp-validation-for="@Model.WorkStart">
                        </span>
                    </span>
                </div>
                <br />

                <label asp-for="@Model.WorkEnd">Work ends </label>
                <div class='input-group date' id='datetimepicker12'>
                    <input type='text' asp-for="@Model.WorkEnd" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" asp-validation-for="@Model.WorkEnd">
                        </span>
                    </span>
                </div>
                <br />

                <button type="submit" class="btn btn-primary">Create schedule</button>
                <a asp-action="GetAllWorkWeeks" class="btn btn-secondary">Cancel</a>
            </div>
        </div>

        
     

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>



        @section Scripts {


            <script type="text/javascript">


                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                $(function () {
                   
                    $('#datetimepicker11').datetimepicker({
                        daysOfWeekDisabled: [0, 6],
                        format: 'DD.MM.YYYY HH:mm',
                        minDate: today,

                    });
                        
                });

                $(function () {

                    $('#datetimepicker12').datetimepicker({
                        daysOfWeekDisabled: [0, 6],
                        format: 'DD.MM.YYYY HH:mm',
                        minDate: today
                    });
                        
                });
            </script>
        }


    </form>
    </div>
