@model IList<Customer>

@{
    ViewBag.Title = "Customer list";
}

<br />


<div class="container">

    @if (Model.Any())
    {
        <form asp-action="SearchForCustomer" asp-controller="Customer">
            <label for="SearchName" style="margin-left:600px">
                <input type="text" name="SearchName" id="SearchName" placeholder="Customer name" style="height:30px">
            </label>
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>

        foreach (var customer in Model)
        {

            <form method="post" asp-action="DeleteCustomer" asp-route-id="@customer.CustomerId">
                <div class="col-11">
                    <div class="card-header">
                        <h3>@customer.Name</h3>
                    </div>
                    <div class="card-body">
                        <a asp-action="GetCustomer" asp-route-id="@customer.CustomerId" class="btn btn-primary">
                            Details
                        </a>
                        <a asp-action="EditCustomer"
                           asp-route-id="@customer.CustomerId" class="btn btn-primary">
                            Edit
                        </a>
                        <a asp-action="AddAppointment" asp-controller="Home" asp-route-id="@customer.CustomerId" class="btn btn-primary">
                            Add appointment
                        </a>
                        <button class="btn btn-secondary" onclick="return confirm('@customer.Name will be deleted from the system. Do you want to continute?')">
                            Delete
                        </button>

                    </div>

                </div>
            </form>


        }


    }


    else
    {
        <h3>There are no customers in the system.</h3>
    }
</div>

